{% extends 'portfolio1/main.html' %}
{% load static %}

{% block content %}
<head>
    <style>
        body{
            background: #fddfc7;
        }
        .footer{
            position: fixed;
            bottom: 0;
        }
        h1{
            letter-spacing: 2px;
            color: dimgray;
            font-weight: 800;
        }
    </style>
</head>
<body>
    <div class="container h-50 text-center pt-5">
        <h1>Coming soon.</h1>
    </div>
</body>
{% endblock %}